<div class="title">
  <h2>Moveable box generator</h2>
</div>

<div class="example-boundary">
    <div *ngFor="let container of containers" class="example-box cdk-drag-animating cdk-drop-list-dragging cdk-drag" cdkDragBoundary=".example-boundary" (click)="click($event)" cdkDrag>
      {{container}}
    </div>
</div>

<div class="add-btn btn"> 
  <button type="button" class="btn btn-primary" (click)="addBox()">Add Box</button>
  <input [checked]="toggleSwitch" type="checkbox" data-size="lg" (change)="checkClicked(toggleSwitch)"/>
  <h5 class="key-controls">Keyboard Controls</h5>
</div>




